#!/usr/bin/make -f
# -*- makefile -*-

PKG  = $(word 2,$(shell dpkg-parsechangelog | grep Source))
VER ?= $(shell dpkg-parsechangelog | grep Version: | awk -F': ' '{print $$NF}' | sed -ne 's/^\(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
LIBPRI_URL_DOWNLOAD = "http://downloads.asterisk.org/pub/telephony/libpri/releases/libpri-1.5.0.tar.gz"

%:
	dh $@

.PHONY: get-orig-source

get-orig-source:
	@echo "# Downloading..."
	wget -nv -T10 -t3 $(LIBPRI_URL_DOWNLOAD) -O ../$(PKG)_$(VER).orig.tar.gz
